In [1]:
import pandas as pd
from datetime import time
df=pd.read_csv("Flight_delay.csv")
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

# Basic information

In [2]:
df.head(10)# Top 10 rowdf.

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
5,4,03-01-2019,1416,1512,1435,WN,Southwest Airlines Co.,54,N643SW,56,...,2,5,0,N,0,12,0,0,0,25
6,4,03-01-2019,1657,1754,1735,WN,Southwest Airlines Co.,623,N724SW,57,...,5,5,0,N,0,7,0,0,0,12
7,4,03-01-2019,1422,1657,1610,WN,Southwest Airlines Co.,188,N215WN,155,...,6,6,0,N,0,40,0,0,0,7
8,4,03-01-2019,2107,2334,2230,WN,Southwest Airlines Co.,362,N798SW,147,...,6,7,0,N,0,5,0,0,0,59
9,4,03-01-2019,1812,1927,1815,WN,Southwest Airlines Co.,422,N779SW,135,...,6,11,0,N,0,3,0,0,0,69

In [3]:
df.tail(10) # Last 10 row

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
484541,7,29-06-2019,1308,1715,1640,AA,American Airlines Inc.,1494,N584AA,187,...,6,26,0,N,0,14,0,12,0,9
484542,3,04-06-2019,1617,1945,1915,AA,American Airlines Inc.,1496,N405AA,148,...,4,15,0,N,0,0,0,0,0,30
484543,7,08-06-2019,1623,1957,1915,AA,American Airlines Inc.,1496,N511AA,154,...,8,16,0,N,0,42,0,0,0,0
484544,2,10-06-2019,1623,2003,1915,AA,American Airlines Inc.,1496,N499AA,160,...,8,16,0,N,0,46,0,0,0,2
484545,4,12-06-2019,1545,1944,1915,AA,American Airlines Inc.,1496,N498AA,179,...,7,24,0,N,0,10,0,19,0,0
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [4]:
df.size

14051979

In [5]:
df.columns

Index(['DayOfWeek', 'Date', 'DepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Org_Airport', 'Dest', 'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
df.dtypes

DayOfWeek             int64
Date                 object
DepTime               int64
ArrTime               int64
CRSArrTime            int64
UniqueCarrier        object
Airline              object
FlightNum             int64
TailNum              object
ActualElapsedTime     int64
CRSElapsedTime        int64
AirTime               int64
ArrDelay              int64
DepDelay              int64
Origin               object
Org_Airport          object
Dest                 object
Dest_Airport         object
Distance              int64
TaxiIn                int64
TaxiOut               int64
Cancelled             int64
CancellationCode     object
Diverted              int64
CarrierDelay          int64
WeatherDelay          int64
NASDelay              int64
SecurityDelay         int64
LateAircraftDelay     int64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB

In [8]:
df.isnull().sum()## Check the number of missing (NaN) values in each column

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [9]:
df.describe()

,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.0,484551.0,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000
mean,3.991605,1564.477865,1617.784438,1652.129929,2139.207386,134.810422,131.400761,108.877134,60.907764,57.498086,752.142689,6.782413,19.150876,0.0,0.0,17.419440,3.153284,13.599421,0.082033,26.653587
std,1.971466,452.235219,583.637660,466.096216,1812.677071,74.070374,71.542531,70.113513,56.975420,55.991012,571.631124,5.555816,15.309747,0.0,0.0,39.417893,19.503657,31.454655,1.884774,40.535994
min,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,-21.000000,0.000000,15.000000,6.000000,31.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1234.000000,1327.000000,1339.000000,629.000000,80.000000,79.000000,57.000000,25.000000,23.000000,331.000000,4.000000,11.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1620.000000,1737.000000,1723.000000,1514.000000,116.000000,114.000000,90.000000,42.000000,40.000000,599.000000,5.000000,15.000000,0.0,0.0,2.000000,0.000000,1.000000,0.000000,13.000000
75%,6.000000,1928.000000,2049.000000,2025.000000,3683.000000,168.000000,162.000000,139.000000,76.000000,72.000000,992.000000,8.000000,22.000000,0.0,0.0,19.000000,0.000000,13.000000,0.000000,36.000000
max,7.000000,2400.000000,2400.000000,2359.000000,8403.000000,727.000000,602.000000,609.000000,1707.000000,1710.000000,4502.000000,207.000000,383.000000,0.0,0.0,1707.000000,1148.000000,1357.000000,392.000000,1254.000000

# Duplicated

In [10]:
df.duplicated().sum()## Count the total number of duplicate

np.int64(2)

In [11]:
# Find duplicate rows in the DataFrame
duplicate_rows = df[df.duplicated()]   # df.duplicated() returns True for duplicate rows (after the first occurrence)

# Print message for clarity
print("\nDuplicate Rows:")

# Display the duplicate rows
print(duplicate_rows)

Duplicate Rows:
        DayOfWeek        Date  DepTime  ArrTime  CRSArrTime UniqueCarrier  \
145746          4  28-02-2019     1854     1946        1902            F9
145748          4  28-02-2019     2027     2314        2229            F9

                       Airline  FlightNum TailNum  ActualElapsedTime  ...  \
145746  Frontier Airlines Inc.        773  N201FR                112  ...
145748  Frontier Airlines Inc.        780  N201FR                107  ...

        TaxiIn  TaxiOut  Cancelled  CancellationCode Diverted CarrierDelay  \
145746       8       13          0                 N        0           44
145748      10       13          0                 N        0            1

       WeatherDelay NASDelay  SecurityDelay  LateAircraftDelay
145746            0        0              0                  0
145748            0       44              0                  0

[2 rows x 29 columns]

In [12]:
# Drop duplicate rows based on all columns
df = df.drop_duplicates()

# Verify
print("After dropping duplicates, shape:", df.shape)

After dropping duplicates, shape: (484549, 29)

# Handling Missing Values

In [13]:
# Handling Missing Values

# 1. For categorical text fields â†’ fill with "Unknown" or most frequent value
categorical_cols = ["Org_Airport", "Dest_Airport", "CancellationCode", "TailNum"]

for col in categorical_cols:
    if col in df.columns:
        # Option 1: Fill missing values with "Unknown"
        df[col] = df[col].fillna("Unknown")
        
        # Option 2 (alternative): Fill missing values with the most frequent (mode) value
        # df[col] = df[col].fillna(df[col].mode()[0])

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1569/1697090277.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna("Unknown")

In [14]:
# 2. For numeric fields related to delays â†’ replace NaN with 0 (means no delay recorded)
delay_cols = ["CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]

for col in delay_cols:
    if col in df.columns:
        df[col] = df[col].fillna(0)

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1569/3002297189.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(0)

In [15]:
# 3. For elapsed time or airtime â†’ fill with median (less skewed than mean)
time_cols = ["ActualElapsedTime", "AirTime"]

for col in time_cols:
    if col in df.columns:
        df[col] = df[col].fillna(df[col].median())

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1569/2123500507.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(df[col].median())
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1569/2123500507.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].fillna(df[col].median())

# Cancellation column

In [16]:
# Cancellation column
# If 'CancellationCode' is null, it means the flight was NOT cancelled
if "CancellationCode" in df.columns:
    df["CancellationCode"] = df["CancellationCode"].fillna("Not Cancelled")

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1569/3708384633.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["CancellationCode"] = df["CancellationCode"].fillna("Not Cancelled")

In [17]:
# Check results 
print(df[delay_cols + ["Cancelled", "CancellationCode"]].isnull().sum())

CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
Cancelled            0
CancellationCode     0
dtype: int64

In [18]:
# 4. If still missing values remain â†’ drop those rows (safe clean-up)
df = df.dropna()

# Missing values after cleaning

In [19]:
#Verify again
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

Delay-related columns â†’ A NaN indicates no delay was recorded, so itâ€™s safe to replace missing values with 0.

CancellationCode column â†’ If the value is missing, it means the flight was not cancelled, so we substitute 
with "Not Cancelled".
Cancelled flag (0/1) â†’ This column is already numeric, but you can cross-check for consistency: whenever Cancelled = 0, 
the corresponding CancellationCode should read "Not Cancelled".

# Find Distance

In [20]:
# Print the minimum value from the 'Distance' column
print("Minimum Distance:", df['Distance'].min())

Minimum Distance: 31

In [21]:
# Print the maximum value from the 'Distance' column
print("Maximum Distance:", df['Distance'].max())

Maximum Distance: 4502

In [22]:
# Print the average (mean) value of the 'Distance' column
print("Average Distance:", df['Distance'].mean())

Average Distance: 752.1431970760439

In [23]:
# Filter flights with distance greater than 1000 miles
long_flights = df[df['Distance'] > 1000]

# Print a message to indicate what is being displayed
print("\nFlights with Distance > 1000 miles:")

# Display selected columns for clarity
print(long_flights[['FlightNum', 'Origin', 'Dest', 'Distance']])

Flights with Distance > 1000 miles:
        FlightNum Origin Dest  Distance
1             509    IND  LAS      1591
3             675    IND  PHX      1489
7             188    ISP  FLL      1093
10           1056    ISP  PBI      1052
25            302    LAS  ALB      2237
...           ...    ...  ...       ...
484537       1494    DFW  FLL      1119
484538       1494    DFW  FLL      1119
484539       1494    DFW  FLL      1119
484540       1494    DFW  FLL      1119
484541       1494    DFW  FLL      1119

[118560 rows x 4 columns]

# Flight count by DayOfWeek

In [24]:
#Flight count by DayOfWeek
flights_by_day = df['DayOfWeek'].value_counts().sort_index()
print("\nFlights by Day of Week")
print(flights_by_day)

Flights by Day of Week
DayOfWeek
1    70254
2    65934
3    63055
4    75009
5    88972
6    51330
7    69995
Name: count, dtype: int64

# Average arrival & departure delay by airline

In [25]:
#Average arrival & departure delay by airline
avg_delays_by_airline = df.groupby('Airline')[['ArrDelay', 'DepDelay']].mean()
print("\nAverage Delays by Airline")
print(avg_delays_by_airline)

Average Delays by Airline
                               ArrDelay   DepDelay
Airline
Alaska Airlines Inc.          57.557600  55.162000
American Airlines Inc.        65.729621  60.314908
American Eagle Airlines Inc.  64.277233  57.815241
Atlantic Southeast Airlines   63.210684  61.378060
Delta Air Lines Inc.          59.292422  52.862541
Frontier Airlines Inc.        41.973150  36.502274
Hawaiian Airlines Inc.        55.658333  52.752083
JetBlue Airways               72.869370  68.284822
Skywest Airlines Inc.         65.187659  60.368212
Southwest Airlines Co.        51.032945  51.245128
US Airways Inc.               58.454165  56.025004
United Air Lines Inc.         69.670539  66.369007

# Top 10 longest flights (by Distance)

In [26]:
#Top 10 longest flights (by Distance)
longest_flights = df.nlargest(10, 'Distance')[['Airline', 'FlightNum', 'Origin', 'Dest', 'Distance']]
print("\nTop 10 Longest Flight")
print(longest_flights)

Top 10 Longest Flight
                    Airline  FlightNum Origin Dest  Distance
48287  Delta Air Lines Inc.        850    HNL  ATL      4502
48433  Delta Air Lines Inc.       1273    ATL  HNL      4502
48666  Delta Air Lines Inc.        851    ATL  HNL      4502
48873  Delta Air Lines Inc.        851    ATL  HNL      4502
49258  Delta Air Lines Inc.        851    ATL  HNL      4502
49334  Delta Air Lines Inc.       1273    ATL  HNL      4502
49900  Delta Air Lines Inc.        851    ATL  HNL      4502
50124  Delta Air Lines Inc.        850    HNL  ATL      4502
50125  Delta Air Lines Inc.        851    ATL  HNL      4502
50316  Delta Air Lines Inc.       1273    ATL  HNL      4502

In [27]:
#Cancellation analysis
cancellations = df['Cancelled'].value_counts(normalize=True) * 100
print("\nCancellation Rate (%)")
print(cancellations)

Cancellation Rate (%)
Cancelled
0    100.0
Name: proportion, dtype: float64

In [28]:
#Taxi times statistics
print("\nAverage Taxi In/Out Time")
print(df[['TaxiIn', 'TaxiOut']].mean())

Average Taxi In/Out Time
TaxiIn      6.782404
TaxiOut    19.150901
dtype: float64

# Flight Count & Basic stats

In [29]:
#FLIGHT COUNTS & BASIC STATS
print(df['Airline'].value_counts())

Airline
Southwest Airlines Co.          119048
American Airlines Inc.           73053
American Eagle Airlines Inc.     58698
United Air Lines Inc.            56896
Skywest Airlines Inc.            50384
US Airways Inc.                  31755
Delta Air Lines Inc.             30220
Atlantic Southeast Airlines      28678
JetBlue Airways                  15364
Alaska Airlines Inc.             10000
Frontier Airlines Inc.            9013
Hawaiian Airlines Inc.            1440
Name: count, dtype: int64

# Combine 'Date' and 'DepTime' into datetime format

In [30]:
# Combine 'Date' and 'DepTime' into datetime format 
# First, convert the 'Date' column to datetime type (day comes first) 
# Invalid parsing will be set as NaT
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True, errors="coerce")

In [31]:
# Step 2: Convert 'DepTime' (HHMM integer) to a 4-digit string with leading zeros
# If the value is missing (NaN), replace it with "0000"
df["DepTime"] = df["DepTime"].apply(lambda x: f"{int(x):04d}" if pd.notnull(x) else "0000")

In [32]:
# Step 3: Extract hour and minute from 'DepTime' string
# 'DepHour' â†’ first two characters of DepTime
# 'DepMinute' â†’ last two characters of DepTime
df["DepHour"] = df["DepTime"].str[:2].astype(int)
df["DepMinute"] = df["DepTime"].str[2:].astype(int)

In [33]:
# Step 4: Combine 'Date', 'DepHour', and 'DepMinute' into a single datetime column
# Add hours and minutes as timedelta to the Date column
df["DepDatetime"] = df["Date"] + pd.to_timedelta(df["DepHour"], unit="h") + pd.to_timedelta(df["DepMinute"], unit="m")

In [34]:
# Derived Features 

# Extract the month number from departure datetime (1â€“12)
df["Month"] = df["DepDatetime"].dt.month

# Extract the day name of the week (Monday, Tuesday, etc.)
df["DayOfWeek"] = df["DepDatetime"].dt.day_name()

# Extract the hour of departure
df["Hour"] = df["DepDatetime"].dt.hour

# Create a route string by combining Origin and Destination (e.g., ATL-LAX)
df["Route"] = df["Origin"] + "-" + df["Dest"]

In [35]:
# Check results 
# Display the first few rows of the relevant columns to verify the derived features
print(df[["Date", "DepTime", "DepDatetime", "Month", "DayOfWeek", "Hour", "Route"]].head())

        Date DepTime         DepDatetime  Month DayOfWeek  Hour    Route
0 2019-01-03    1829 2019-01-03 18:29:00      1  Thursday    18  IND-BWI
1 2019-01-03    1937 2019-01-03 19:37:00      1  Thursday    19  IND-LAS
2 2019-01-03    1644 2019-01-03 16:44:00      1  Thursday    16  IND-MCO
3 2019-01-03    1452 2019-01-03 14:52:00      1  Thursday    14  IND-PHX
4 2019-01-03    1323 2019-01-03 13:23:00      1  Thursday    13  IND-TPA

In [36]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepHour,DepMinute,DepDatetime,Month,Hour,Route
0,Thursday,2019-01-03,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,0,0,0,32,18,29,2019-01-03 18:29:00,1,18,IND-BWI
1,Thursday,2019-01-03,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,0,0,0,47,19,37,2019-01-03 19:37:00,1,19,IND-LAS
2,Thursday,2019-01-03,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,0,0,0,72,16,44,2019-01-03 16:44:00,1,16,IND-MCO
3,Thursday,2019-01-03,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,0,0,0,12,14,52,2019-01-03 14:52:00,1,14,IND-PHX
4,Thursday,2019-01-03,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,0,0,0,16,13,23,2019-01-03 13:23:00,1,13,IND-TPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,Thursday,2019-06-13,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,0,0,0,0,16,9,2019-06-13 16:09:00,6,16,DFW-MCO
484547,Friday,2019-06-14,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,0,0,0,28,16,16,2019-06-14 16:16:00,6,16,DFW-MCO
484548,Monday,2019-06-17,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,22,5,0,20,16,17,2019-06-17 16:17:00,6,16,DFW-MCO
484549,Saturday,2019-06-22,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,0,0,0,25,16,7,2019-06-22 16:07:00,6,16,DFW-MCO
484550,Sunday,2019-06-23,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,0,0,0,0,16,8,2019-06-23 16:08:00,6,16,DFW-MCO

# Convert HHMM integers to HH:MM:SS string

In [37]:
# ---- Convert HHMM integers to HH:MM:SS string ----
def hhmm_to_hhmmss(series):
    """
    Convert HHMM integers/floats (e.g., 1323 -> 13:23:00) to HH:MM:SS string.
    Handles missing or invalid values safely.
    """
    def parse_val(x):
        try:
            x_int = int(float(x))
            # If invalid HHMM, set to 00:00
            if x_int < 0 or x_int > 2359:
                return "00:00:00"
            hhmm_str = str(x_int).zfill(4)
            return f"{hhmm_str[:2]}:{hhmm_str[2:]}:00"
        except:
            return "00:00:00"
    return series.apply(parse_val)

# ---- Apply conversion to update same columns ----
for col in ["DepTime", "ArrTime", "CRSArrTime", "ActualElapsedTime"]:
    df[col] = hhmm_to_hhmmss(df[col])

# ---- Check results ----
print(df[["DepTime", "ArrTime", "CRSArrTime", "ActualElapsedTime"]].head())

    DepTime   ArrTime CRSArrTime ActualElapsedTime
0  18:29:00  19:59:00   19:25:00          00:90:00
1  19:37:00  20:37:00   19:40:00          02:40:00
2  16:44:00  18:45:00   17:25:00          01:21:00
3  14:52:00  16:40:00   16:25:00          02:28:00
4  13:23:00  15:26:00   15:10:00          01:23:00

In [38]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DepHour,DepMinute,DepDatetime,Month,Hour,Route
0,Thursday,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,00:90:00,...,0,0,0,32,18,29,2019-01-03 18:29:00,1,18,IND-BWI
1,Thursday,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,0,0,47,19,37,2019-01-03 19:37:00,1,19,IND-LAS
2,Thursday,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,0,0,72,16,44,2019-01-03 16:44:00,1,16,IND-MCO
3,Thursday,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,0,0,12,14,52,2019-01-03 14:52:00,1,14,IND-PHX
4,Thursday,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,0,0,16,13,23,2019-01-03 13:23:00,1,13,IND-TPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,Thursday,2019-06-13,16:09:00,19:42:00,19:15:00,AA,American Airlines Inc.,1496,N510AA,01:53:00,...,0,0,0,0,16,9,2019-06-13 16:09:00,6,16,DFW-MCO
484547,Friday,2019-06-14,16:16:00,19:54:00,19:15:00,AA,American Airlines Inc.,1496,N559AA,01:58:00,...,0,0,0,28,16,16,2019-06-14 16:16:00,6,16,DFW-MCO
484548,Monday,2019-06-17,16:17:00,20:02:00,19:15:00,AA,American Airlines Inc.,1496,N505AA,01:65:00,...,22,5,0,20,16,17,2019-06-17 16:17:00,6,16,DFW-MCO
484549,Saturday,2019-06-22,16:07:00,19:41:00,19:15:00,AA,American Airlines Inc.,1496,N421AA,01:54:00,...,0,0,0,25,16,7,2019-06-22 16:07:00,6,16,DFW-MCO
484550,Sunday,2019-06-23,16:08:00,19:33:00,19:15:00,AA,American Airlines Inc.,1496,N487AA,01:45:00,...,0,0,0,0,16,8,2019-06-23 16:08:00,6,16,DFW-MCO

In [39]:
df.isnull().sum()

DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
DepHour              0
DepMinute            0
DepDatetime          0
Month                0
Hour                 0
Route                0
dtype: int64

In [40]:
#Create Month column
df['Month'] = df['Date'].dt.month

In [41]:
#Create DayOfWeek column (0=Monday, 6=Sunday) OR use your existing DayOfWeek
df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # optional if you want numeric

In [42]:
#Check the new columns
print(df[['Date','Month','DayOfWeekNum','Route']].head())

        Date  Month  DayOfWeekNum    Route
0 2019-01-03      1             3  IND-BWI
1 2019-01-03      1             3  IND-LAS
2 2019-01-03      1             3  IND-MCO
3 2019-01-03      1             3  IND-PHX
4 2019-01-03      1             3  IND-TPA

In [43]:
# Create Day Name column
df['DayName'] = df['Date'].dt.day_name()

In [44]:
# Check the new column
print(df[['Date', 'DayName']].head())

        Date   DayName
0 2019-01-03  Thursday
1 2019-01-03  Thursday
2 2019-01-03  Thursday
3 2019-01-03  Thursday
4 2019-01-03  Thursday

In [45]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,SecurityDelay,LateAircraftDelay,DepHour,DepMinute,DepDatetime,Month,Hour,Route,DayOfWeekNum,DayName
0,Thursday,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,00:90:00,...,0,32,18,29,2019-01-03 18:29:00,1,18,IND-BWI,3,Thursday
1,Thursday,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,47,19,37,2019-01-03 19:37:00,1,19,IND-LAS,3,Thursday
2,Thursday,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,72,16,44,2019-01-03 16:44:00,1,16,IND-MCO,3,Thursday
3,Thursday,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,12,14,52,2019-01-03 14:52:00,1,14,IND-PHX,3,Thursday
4,Thursday,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,16,13,23,2019-01-03 13:23:00,1,13,IND-TPA,3,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,Thursday,2019-06-13,16:09:00,19:42:00,19:15:00,AA,American Airlines Inc.,1496,N510AA,01:53:00,...,0,0,16,9,2019-06-13 16:09:00,6,16,DFW-MCO,3,Thursday
484547,Friday,2019-06-14,16:16:00,19:54:00,19:15:00,AA,American Airlines Inc.,1496,N559AA,01:58:00,...,0,28,16,16,2019-06-14 16:16:00,6,16,DFW-MCO,4,Friday
484548,Monday,2019-06-17,16:17:00,20:02:00,19:15:00,AA,American Airlines Inc.,1496,N505AA,01:65:00,...,0,20,16,17,2019-06-17 16:17:00,6,16,DFW-MCO,0,Monday
484549,Saturday,2019-06-22,16:07:00,19:41:00,19:15:00,AA,American Airlines Inc.,1496,N421AA,01:54:00,...,0,25,16,7,2019-06-22 16:07:00,6,16,DFW-MCO,5,Saturday
484550,Sunday,2019-06-23,16:08:00,19:33:00,19:15:00,AA,American Airlines Inc.,1496,N487AA,01:45:00,...,0,0,16,8,2019-06-23 16:08:00,6,16,DFW-MCO,6,Sunday

In [46]:
df.head(10)

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,SecurityDelay,LateAircraftDelay,DepHour,DepMinute,DepDatetime,Month,Hour,Route,DayOfWeekNum,DayName
0,Thursday,2019-01-03,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,00:90:00,...,0,32,18,29,2019-01-03 18:29:00,1,18,IND-BWI,3,Thursday
1,Thursday,2019-01-03,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,47,19,37,2019-01-03 19:37:00,1,19,IND-LAS,3,Thursday
2,Thursday,2019-01-03,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,72,16,44,2019-01-03 16:44:00,1,16,IND-MCO,3,Thursday
3,Thursday,2019-01-03,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,12,14,52,2019-01-03 14:52:00,1,14,IND-PHX,3,Thursday
4,Thursday,2019-01-03,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,16,13,23,2019-01-03 13:23:00,1,13,IND-TPA,3,Thursday
5,Thursday,2019-01-03,14:16:00,15:12:00,14:35:00,WN,Southwest Airlines Co.,54,N643SW,00:56:00,...,0,25,14,16,2019-01-03 14:16:00,1,14,ISP-BWI,3,Thursday
6,Thursday,2019-01-03,16:57:00,17:54:00,17:35:00,WN,Southwest Airlines Co.,623,N724SW,00:57:00,...,0,12,16,57,2019-01-03 16:57:00,1,16,ISP-BWI,3,Thursday
7,Thursday,2019-01-03,14:22:00,16:57:00,16:10:00,WN,Southwest Airlines Co.,188,N215WN,01:55:00,...,0,7,14,22,2019-01-03 14:22:00,1,14,ISP-FLL,3,Thursday
8,Thursday,2019-01-03,21:07:00,23:34:00,22:30:00,WN,Southwest Airlines Co.,362,N798SW,01:47:00,...,0,59,21,7,2019-01-03 21:07:00,1,21,ISP-MCO,3,Thursday
9,Thursday,2019-01-03,18:12:00,19:27:00,18:15:00,WN,Southwest Airlines Co.,422,N779SW,01:35:00,...,0,69,18,12,2019-01-03 18:12:00,1,18,ISP-MDW,3,Thursday

In [47]:
df.to_csv("Airfly_Data_Analysis.csv", index=False)