<a href="https://colab.research.google.com/github/swarajaalla/Infy_SB_AirFly_Insights/blob/sravani_dev/1st_Week_AirFly_Insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# Step 1: Import core libraries
import pandas as pd
import numpy as np
print("Libraries imported successfully")

Libraries imported successfully

In [34]:
# Step 2: Load the dataset
df = pd.read_csv("/content/flights_sample_100k.csv.zip", low_memory=False)
print("Dataset loaded successfully")

Dataset loaded successfully

In [35]:
# Step 3: Print shape of dataset
print("Shape of dataset:", df.shape)

Shape of dataset: (100000, 32)

In [36]:
# Step 4: Display all column names
print("Columns in dataset:", df.columns.tolist())

Columns in dataset: ['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE', 'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT']

In [37]:
# Step 5: Display data types of each column
print(df.dtypes)

FL_DATE                     object
AIRLINE                     object
AIRLINE_DOT                 object
AIRLINE_CODE                object
DOT_CODE                     int64
FL_NUMBER                    int64
ORIGIN                      object
ORIGIN_CITY                 object
DEST                        object
DEST_CITY                   object
CRS_DEP_TIME                 int64
DEP_TIME                   float64
DEP_DELAY                  float64
TAXI_OUT                   float64
WHEELS_OFF                 float64
WHEELS_ON                  float64
TAXI_IN                    float64
CRS_ARR_TIME                 int64
ARR_TIME                   float64
ARR_DELAY                  float64
CANCELLED                  float64
CANCELLATION_CODE           object
DIVERTED                   float64
CRS_ELAPSED_TIME           float64
ELAPSED_TIME               float64
AIR_TIME                   float64
DISTANCE                   float64
DELAY_DUE_CARRIER          float64
DELAY_DUE_WEATHER          float64
DELAY_DUE_NAS              float64
DELAY_DUE_SECURITY         float64
DELAY_DUE_LATE_AIRCRAFT    float64
dtype: object

In [38]:
# Step 6: Dataset info (non-null counts and memory usage)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   FL_DATE                  100000 non-null  object
 1   AIRLINE                  100000 non-null  object
 2   AIRLINE_DOT              100000 non-null  object
 3   AIRLINE_CODE             100000 non-null  object
 4   DOT_CODE                 100000 non-null  int64
 5   FL_NUMBER                100000 non-null  int64
 6   ORIGIN                   100000 non-null  object
 7   ORIGIN_CITY              100000 non-null  object
 8   DEST                     100000 non-null  object
 9   DEST_CITY                100000 non-null  object
 10  CRS_DEP_TIME             100000 non-null  int64
 11  DEP_TIME                 97424 non-null   float64
 12  DEP_DELAY                97423 non-null   float64
 13  TAXI_OUT                 97382 non-null   float64
 14  WHEELS_OFF               97382 non-null   float64
 15  WHEELS_ON                97345 non-null   float64
 16  TAXI_IN                  97345 non-null   float64
 17  CRS_ARR_TIME             100000 non-null  int64
 18  ARR_TIME                 97345 non-null   float64
 19  ARR_DELAY                97148 non-null   float64
 20  CANCELLED                100000 non-null  float64
 21  CANCELLATION_CODE        2627 non-null    object
 22  DIVERTED                 100000 non-null  float64
 23  CRS_ELAPSED_TIME         100000 non-null  float64
 24  ELAPSED_TIME             97148 non-null   float64
 25  AIR_TIME                 97148 non-null   float64
 26  DISTANCE                 100000 non-null  float64
 27  DELAY_DUE_CARRIER        17992 non-null   float64
 28  DELAY_DUE_WEATHER        17992 non-null   float64
 29  DELAY_DUE_NAS            17992 non-null   float64
 30  DELAY_DUE_SECURITY       17992 non-null   float64
 31  DELAY_DUE_LATE_AIRCRAFT  17992 non-null   float64
dtypes: float64(19), int64(4), object(9)
memory usage: 24.4+ MB
None

In [39]:
# Step 7: Count missing values per column
print(df.isnull().sum())

FL_DATE                        0
AIRLINE                        0
AIRLINE_DOT                    0
AIRLINE_CODE                   0
DOT_CODE                       0
FL_NUMBER                      0
ORIGIN                         0
ORIGIN_CITY                    0
DEST                           0
DEST_CITY                      0
CRS_DEP_TIME                   0
DEP_TIME                    2576
DEP_DELAY                   2577
TAXI_OUT                    2618
WHEELS_OFF                  2618
WHEELS_ON                   2655
TAXI_IN                     2655
CRS_ARR_TIME                   0
ARR_TIME                    2655
ARR_DELAY                   2852
CANCELLED                      0
CANCELLATION_CODE          97373
DIVERTED                       0
CRS_ELAPSED_TIME               0
ELAPSED_TIME                2852
AIR_TIME                    2852
DISTANCE                       0
DELAY_DUE_CARRIER          82008
DELAY_DUE_WEATHER          82008
DELAY_DUE_NAS              82008
DELAY_DUE_SECURITY         82008
DELAY_DUE_LATE_AIRCRAFT    82008
dtype: int64

In [40]:
# Step 8: Percentage of missing values per column
print((df.isnull().mean() * 100).round(2))

FL_DATE                     0.00
AIRLINE                     0.00
AIRLINE_DOT                 0.00
AIRLINE_CODE                0.00
DOT_CODE                    0.00
FL_NUMBER                   0.00
ORIGIN                      0.00
ORIGIN_CITY                 0.00
DEST                        0.00
DEST_CITY                   0.00
CRS_DEP_TIME                0.00
DEP_TIME                    2.58
DEP_DELAY                   2.58
TAXI_OUT                    2.62
WHEELS_OFF                  2.62
WHEELS_ON                   2.66
TAXI_IN                     2.66
CRS_ARR_TIME                0.00
ARR_TIME                    2.66
ARR_DELAY                   2.85
CANCELLED                   0.00
CANCELLATION_CODE          97.37
DIVERTED                    0.00
CRS_ELAPSED_TIME            0.00
ELAPSED_TIME                2.85
AIR_TIME                    2.85
DISTANCE                    0.00
DELAY_DUE_CARRIER          82.01
DELAY_DUE_WEATHER          82.01
DELAY_DUE_NAS              82.01
DELAY_DUE_SECURITY         82.01
DELAY_DUE_LATE_AIRCRAFT    82.01
dtype: float64

In [41]:
# Step 9: Show first 5 rows
print(df.head())

      FL_DATE                 AIRLINE                 AIRLINE_DOT  \
0  2019-03-01           Allegiant Air           Allegiant Air: G4
1  2021-02-16  American Airlines Inc.  American Airlines Inc.: AA
2  2022-04-12       PSA Airlines Inc.       PSA Airlines Inc.: OH
3  2021-10-13  Southwest Airlines Co.  Southwest Airlines Co.: WN
4  2022-06-05  Southwest Airlines Co.  Southwest Airlines Co.: WN

  AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN                     ORIGIN_CITY  \
0           G4     20368       1668    PGD                 Punta Gorda, FL
1           AA     19805       2437    DFW           Dallas/Fort Worth, TX
2           OH     20397       5560    EWN  New Bern/Morehead/Beaufort, NC
3           WN     19393       1944    ABQ                 Albuquerque, NM
4           WN     19393       3081    PIT                  Pittsburgh, PA

  DEST        DEST_CITY  ...  DIVERTED  CRS_ELAPSED_TIME  ELAPSED_TIME  \
0  SPI  Springfield, IL  ...       0.0             160.0         138.0
1  LAX  Los Angeles, CA  ...       0.0             211.0           NaN
2  CLT    Charlotte, NC  ...       0.0              79.0          78.0
3  DEN       Denver, CO  ...       0.0              80.0          71.0
4  STL    St. Louis, MO  ...       0.0             105.0         100.0

   AIR_TIME  DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  DELAY_DUE_NAS  \
0     122.0     994.0                NaN                NaN            NaN
1       NaN    1235.0                NaN                NaN            NaN
2      51.0     221.0                NaN                NaN            NaN
3      49.0     349.0               10.0                0.0            0.0
4      82.0     554.0                NaN                NaN            NaN

   DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
0                 NaN                      NaN
1                 NaN                      NaN
2                 NaN                      NaN
3                 0.0                      6.0
4                 NaN                      NaN

[5 rows x 32 columns]

In [42]:
# Step 10: Show last 5 rows
print(df.tail())

          FL_DATE                 AIRLINE                 AIRLINE_DOT  \
99995  2019-02-26    Delta Air Lines Inc.    Delta Air Lines Inc.: DL
99996  2023-02-10  Southwest Airlines Co.  Southwest Airlines Co.: WN
99997  2019-06-26       Endeavor Air Inc.       Endeavor Air Inc.: 9E
99998  2023-06-22       Endeavor Air Inc.       Endeavor Air Inc.: 9E
99999  2022-01-07       Endeavor Air Inc.       Endeavor Air Inc.: 9E

      AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN     ORIGIN_CITY DEST  \
99995           DL     19790       2229    CHS  Charleston, SC  ATL
99996           WN     19393       2977    MDW     Chicago, IL  LAX
99997           9E     20363       5003    ORF     Norfolk, VA  JFK
99998           9E     20363       5173    CVG  Cincinnati, OH  LGA
99999           9E     20363       5227    ATL     Atlanta, GA  SHV

             DEST_CITY  ...  DIVERTED  CRS_ELAPSED_TIME  ELAPSED_TIME  \
99995      Atlanta, GA  ...       0.0              84.0          73.0
99996  Los Angeles, CA  ...       0.0             280.0         239.0
99997     New York, NY  ...       0.0              93.0          82.0
99998     New York, NY  ...       0.0             127.0         110.0
99999   Shreveport, LA  ...       0.0             113.0         100.0

       AIR_TIME  DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  \
99995      50.0     259.0                NaN                NaN
99996     209.0    1750.0               88.0                0.0
99997      51.0     290.0                NaN                NaN
99998      87.0     585.0                NaN                NaN
99999      86.0     551.0                0.0                0.0

       DELAY_DUE_NAS  DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
99995            NaN                 NaN                      NaN
99996            0.0                 0.0                      0.0
99997            NaN                 NaN                      NaN
99998            NaN                 NaN                      NaN
99999            0.0                 0.0                     22.0

[5 rows x 32 columns]

In [43]:
# Step 11: Show 10 random rows
print(df.sample(10))

          FL_DATE                 AIRLINE                 AIRLINE_DOT  \
69273  2023-02-05         JetBlue Airways         JetBlue Airways: B6
75226  2021-08-28      Mesa Airlines Inc.      Mesa Airlines Inc.: YV
23882  2021-03-08  Southwest Airlines Co.  Southwest Airlines Co.: WN
83214  2023-03-17  Southwest Airlines Co.  Southwest Airlines Co.: WN
74499  2019-04-05    Delta Air Lines Inc.    Delta Air Lines Inc.: DL
65734  2023-08-02       Endeavor Air Inc.       Endeavor Air Inc.: 9E
80085  2022-04-21  Southwest Airlines Co.  Southwest Airlines Co.: WN
61576  2023-02-05   United Air Lines Inc.   United Air Lines Inc.: UA
8454   2019-09-23    Alaska Airlines Inc.    Alaska Airlines Inc.: AS
71300  2023-06-17       PSA Airlines Inc.       PSA Airlines Inc.: OH

      AIRLINE_CODE  DOT_CODE  FL_NUMBER ORIGIN            ORIGIN_CITY DEST  \
69273           B6     20409        130    RSW         Fort Myers, FL  JFK
75226           YV     20378       5791    DFW  Dallas/Fort Worth, TX  MAF
23882           WN     19393       1046    BWI          Baltimore, MD  SRQ
83214           WN     19393        799    SFO      San Francisco, CA  LAS
74499           DL     19790       1309    ATL            Atlanta, GA  EWR
65734           9E     20363       5292    ATL            Atlanta, GA  ABE
80085           WN     19393        447    DEN             Denver, CO  PHX
61576           UA     19977       1303    PHX            Phoenix, AZ  DEN
8454            AS     19930        803    SJC           San Jose, CA  OGG
71300           OH     20397       5610    MYR       Myrtle Beach, SC  DFW

                            DEST_CITY  ...  DIVERTED  CRS_ELAPSED_TIME  \
69273                    New York, NY  ...       0.0             177.0
75226              Midland/Odessa, TX  ...       0.0              77.0
23882          Sarasota/Bradenton, FL  ...       0.0             155.0
83214                   Las Vegas, NV  ...       0.0              90.0
74499                      Newark, NJ  ...       0.0             129.0
65734  Allentown/Bethlehem/Easton, PA  ...       0.0             127.0
80085                     Phoenix, AZ  ...       0.0             115.0
61576                      Denver, CO  ...       0.0             112.0
8454                      Kahului, HI  ...       0.0             330.0
71300           Dallas/Fort Worth, TX  ...       0.0             199.0

       ELAPSED_TIME  AIR_TIME  DISTANCE  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  \
69273         163.0     139.0    1074.0                NaN                NaN
75226          59.0      47.0     309.0                NaN                NaN
23882         132.0     119.0     880.0                NaN                NaN
83214          96.0      65.0     414.0                NaN                NaN
74499         113.0      94.0     746.0                NaN                NaN
65734         117.0      95.0     692.0                NaN                NaN
80085         107.0      88.0     602.0                NaN                NaN
61576          94.0      72.0     602.0                NaN                NaN
8454          297.0     277.0    2355.0                NaN                NaN
71300         173.0     144.0    1048.0                NaN                NaN

       DELAY_DUE_NAS  DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
69273            NaN                 NaN                      NaN
75226            NaN                 NaN                      NaN
23882            NaN                 NaN                      NaN
83214            NaN                 NaN                      NaN
74499            NaN                 NaN                      NaN
65734            NaN                 NaN                      NaN
80085            NaN                 NaN                      NaN
61576            NaN                 NaN                      NaN
8454             NaN                 NaN                      NaN
71300            NaN                 NaN                      NaN

[10 rows x 32 columns]

In [44]:
# Step 12: Memory usage of dataset
print("Memory usage MB:", df.memory_usage(deep=True).sum() / (1024*1024))

Memory usage MB: 66.36585330963135

In [45]:
# Step 13: Unique airlines
print("Unique airlines:", df["AIRLINE"].nunique())
print(df["AIRLINE"].unique()[:10])

Unique airlines: 18
['Allegiant Air' 'American Airlines Inc.' 'PSA Airlines Inc.'
 'Southwest Airlines Co.' 'Delta Air Lines Inc.' 'United Air Lines Inc.'
 'Spirit Air Lines' 'SkyWest Airlines Inc.' 'Republic Airline'
 'JetBlue Airways']

In [46]:
# Step 14: Unique origin and destination airports
print("Unique origins:", df["ORIGIN"].nunique())
print("Unique destinations:", df["DEST"].nunique())

Unique origins: 372
Unique destinations: 376

In [47]:
# Step 15: Top 5 airlines by flight count
print(df["AIRLINE"].value_counts().head(5))

AIRLINE
Southwest Airlines Co.    19150
Delta Air Lines Inc.      13070
American Airlines Inc.    12874
SkyWest Airlines Inc.     11306
United Air Lines Inc.      8506
Name: count, dtype: int64

In [48]:
# Step 16: Top 5 origin airports
print(df["ORIGIN"].value_counts().head(5))

ORIGIN
ATL    5099
DFW    4444
ORD    4053
DEN    3886
CLT    3110
Name: count, dtype: int64

In [49]:
# Step 17: Top 5 destination airports
print(df["DEST"].value_counts().head(5))

DEST
ATL    5095
DFW    4239
ORD    4157
DEN    3956
CLT    3269
Name: count, dtype: int64

In [50]:
# Step 18: Total number of flights
print("Total flights:", len(df))

Total flights: 100000

In [51]:
# Step 19: Convert FL_DATE to datetime
df["FL_DATE"] = pd.to_datetime(df["FL_DATE"], errors="coerce")
print("Converted FL_DATE to datetime")

Converted FL_DATE to datetime

In [52]:
# Step 20: Extract year from FL_DATE
df["Year"] = df["FL_DATE"].dt.year
print(df["Year"].head())

0    2019
1    2021
2    2022
3    2021
4    2022
Name: Year, dtype: int32

In [53]:
# Step 21: Extract month from FL_DATE
df["Month"] = df["FL_DATE"].dt.month
print(df["Month"].head())

0     3
1     2
2     4
3    10
4     6
Name: Month, dtype: int32

In [54]:
# Step 22: Extract day of month from FL_DATE
df["Day"] = df["FL_DATE"].dt.day
print(df["Day"].head())

0     1
1    16
2    12
3    13
4     5
Name: Day, dtype: int32

In [55]:
# Step 23: Extract day of week
df["DayOfWeek"] = df["FL_DATE"].dt.day_name()
print(df["DayOfWeek"].head())

0       Friday
1      Tuesday
2      Tuesday
3    Wednesday
4       Sunday
Name: DayOfWeek, dtype: object

In [56]:
# Step 24: Extract hour from CRS_DEP_TIME
df["CRS_DEP_TIME"] = df["CRS_DEP_TIME"].astype(str).str.zfill(4)
df["DepHour"] = df["CRS_DEP_TIME"].str[:2].astype(int)
print(df[["CRS_DEP_TIME","DepHour"]].head())

  CRS_DEP_TIME  DepHour
0         0630        6
1         1329       13
2         0625        6
3         1715       17
4         0535        5

In [57]:
# Step 25: Extract hour from CRS_ARR_TIME
df["CRS_ARR_TIME"] = df["CRS_ARR_TIME"].astype(str).str.zfill(4)
df["ArrHour"] = df["CRS_ARR_TIME"].str[:2].astype(int)
print(df[["CRS_ARR_TIME","ArrHour"]].head())

  CRS_ARR_TIME  ArrHour
0         0810        8
1         1500       15
2         0744        7
3         1835       18
4         0620        6

In [58]:
# Step 26: Create route as ORIGIN-DEST
df["Route"] = df["ORIGIN"] + "-" + df["DEST"]
print(df["Route"].head())

0    PGD-SPI
1    DFW-LAX
2    EWN-CLT
3    ABQ-DEN
4    PIT-STL
Name: Route, dtype: object

In [59]:
# Step 27: Nulls in DEP_DELAY and ARR_DELAY
print(df[["DEP_DELAY","ARR_DELAY"]].isnull().sum())

DEP_DELAY    2577
ARR_DELAY    2852
dtype: int64

In [60]:
# Step 28: Count cancelled flights
if "CANCELLED" in df.columns:
    print("Cancelled flights:", df["CANCELLED"].sum())

Cancelled flights: 2627.0

In [61]:
# Step 29: Count diverted flights
if "DIVERTED" in df.columns:
    print("Diverted flights:", df["DIVERTED"].sum())

Diverted flights: 225.0

In [62]:
# Step 30: Number of flights by year
print(df["Year"].value_counts().sort_index())

Year
2019    25083
2020    15823
2021    20526
2022    23082
2023    15486
Name: count, dtype: int64

In [63]:
# Step 31: Number of flights by month
print(df["Month"].value_counts().sort_index())

Month
1     8903
2     8246
3     9733
4     8434
5     8393
6     8688
7     9553
8     9444
9     7044
10    7286
11    7054
12    7222
Name: count, dtype: int64

In [64]:
# Step 32: Flights by day of week
print(df["DayOfWeek"].value_counts())

DayOfWeek
Friday       15071
Thursday     14855
Monday       14825
Sunday       14544
Wednesday    14024
Tuesday      13781
Saturday     12900
Name: count, dtype: int64

In [65]:
# Step 33: Average departure delay
print("Avg DEP_DELAY:", df["DEP_DELAY"].mean())

Avg DEP_DELAY: 10.178007246748715

In [66]:
# Step 34: Average arrival delay
print("Avg ARR_DELAY:", df["ARR_DELAY"].mean())

Avg ARR_DELAY: 4.35375921274756

In [67]:
# Step 35: Summary of delay columns
delay_cols = ["DEP_DELAY","ARR_DELAY","DELAY_DUE_CARRIER","DELAY_DUE_WEATHER",
              "DELAY_DUE_NAS","DELAY_DUE_SECURITY","DELAY_DUE_LATE_AIRCRAFT"]
print(df[delay_cols].describe())

          DEP_DELAY     ARR_DELAY  DELAY_DUE_CARRIER  DELAY_DUE_WEATHER  \
count  97423.000000  97148.000000       17992.000000       17992.000000
mean      10.178007      4.353759          24.912850           3.872777
std       49.398318     51.360244          71.923245          30.007417
min      -81.000000    -88.000000           0.000000           0.000000
25%       -6.000000    -15.000000           0.000000           0.000000
50%       -2.000000     -7.000000           4.000000           0.000000
75%        6.000000      7.000000          23.000000           0.000000
max     1512.000000   1520.000000        1473.000000        1285.000000

       DELAY_DUE_NAS  DELAY_DUE_SECURITY  DELAY_DUE_LATE_AIRCRAFT
count   17992.000000        17992.000000             17992.000000
mean       13.325311            0.139395                24.841430
std        33.717869            3.341215                53.336648
min         0.000000            0.000000                 0.000000
25%         0.000000            0.000000                 0.000000
50%         0.000000            0.000000                 0.000000
75%        17.000000            0.000000                29.000000
max      1207.000000          249.000000              1018.000000

In [68]:
# Step 36: Create TotalDelay column
df["TotalDelay"] = df["DEP_DELAY"].fillna(0) + df["ARR_DELAY"].fillna(0)
print(df["TotalDelay"].head())

0   -42.0
1     0.0
2   -15.0
3    41.0
4    -5.0
Name: TotalDelay, dtype: float64

In [69]:
# Step 37: Create IsDelayed flag (delay > 15 min)
df["IsDelayed"] = (df["TotalDelay"] > 15).astype(int)
print(df["IsDelayed"].value_counts())

IsDelayed
0    77651
1    22349
Name: count, dtype: int64

In [70]:
# Step 38: Summary statistics for numeric columns
print(df.describe())

                             FL_DATE       DOT_CODE     FL_NUMBER  \
count                         100000  100000.000000  100000.00000
mean   2021-05-10 20:35:57.984000256   19977.257770    2511.91066
min              2019-01-01 00:00:00   19393.000000       1.00000
25%              2019-12-30 00:00:00   19790.000000    1054.00000
50%              2021-07-03 00:00:00   19930.000000    2150.00000
75%              2022-08-03 00:00:00   20368.000000    3794.00000
max              2023-08-31 00:00:00   20452.000000    8819.00000
std                              NaN     377.223161    1745.63292

           DEP_TIME     DEP_DELAY      TAXI_OUT    WHEELS_OFF     WHEELS_ON  \
count  97424.000000  97423.000000  97382.000000  97382.000000  97345.000000
mean    1331.005738     10.178007     16.679992   1353.643661   1463.905039
min        1.000000    -81.000000      1.000000      1.000000      1.000000
25%      918.000000     -6.000000     11.000000    932.000000   1050.000000
50%     1325.000000     -2.000000     14.000000   1338.000000   1502.000000
75%     1738.000000      6.000000     19.000000   1752.000000   1909.000000
max     2400.000000   1512.000000    163.000000   2400.000000   2400.000000
std      498.864626     49.398318      9.170655    500.456200    527.430630

            TAXI_IN      ARR_TIME  ...  DELAY_DUE_NAS  DELAY_DUE_SECURITY  \
count  97345.000000  97345.000000  ...   17992.000000        17992.000000
mean       7.695290   1467.125523  ...      13.325311            0.139395
min        1.000000      1.000000  ...       0.000000            0.000000
25%        4.000000   1053.000000  ...       0.000000            0.000000
50%        6.000000   1506.000000  ...       0.000000            0.000000
75%        9.000000   1913.000000  ...      17.000000            0.000000
max      261.000000   2400.000000  ...    1207.000000          249.000000
std        6.481064    532.513348  ...      33.717869            3.341215

       DELAY_DUE_LATE_AIRCRAFT          Year         Month            Day  \
count             17992.000000  100000.00000  100000.00000  100000.000000
mean                 24.841430    2020.88065       6.25360      15.745780
min                   0.000000    2019.00000       1.00000       1.000000
25%                   0.000000    2019.00000       3.00000       8.000000
50%                   0.000000    2021.00000       6.00000      16.000000
75%                  29.000000    2022.00000       9.00000      23.000000
max                1018.000000    2023.00000      12.00000      31.000000
std                  53.336648       1.41336       3.37855       8.777355

            DepHour        ArrHour     TotalDelay      IsDelayed
count  100000.00000  100000.000000  100000.000000  100000.000000
mean       13.02297      14.619350      14.145310       0.223490
min         0.00000       0.000000    -169.000000       0.000000
25%         9.00000      11.000000     -20.000000       0.000000
50%        13.00000      15.000000      -8.000000       0.000000
75%        17.00000      19.000000      11.000000       0.000000
max        23.00000      23.000000    3032.000000       1.000000
std         4.83031       5.122733      98.366664       0.416586

[8 rows x 29 columns]

In [71]:
# Step 39: Summary statistics for categorical columns
print(df.describe(include="object"))

                       AIRLINE                 AIRLINE_DOT AIRLINE_CODE  \
count                   100000                      100000       100000
unique                      18                          18           18
top     Southwest Airlines Co.  Southwest Airlines Co.: WN           WN
freq                     19150                       19150        19150

        ORIGIN  ORIGIN_CITY    DEST    DEST_CITY CRS_DEP_TIME CRS_ARR_TIME  \
count   100000       100000  100000       100000       100000       100000
unique     372          366     376          369         1238         1327
top        ATL  Chicago, IL     ATL  Chicago, IL         0600         2359
freq      5099         5219    5095         5359         2073          324

       CANCELLATION_CODE DayOfWeek    Route
count               2627    100000   100000
unique                 4         7     6356
top                    B    Friday  LAX-SFO
freq                 930     15071      206

In [72]:
# Step 40: Flights & delay percentage per airline
print(df.groupby("AIRLINE").agg(
    flights=("AIRLINE","count"),
    avg_delay=("TotalDelay","mean"),
    pct_delayed=("IsDelayed","mean")
))

                                    flights  avg_delay  pct_delayed
AIRLINE
Alaska Airlines Inc.                   3466   7.156953     0.215811
Allegiant Air                          1743  30.077453     0.283993
American Airlines Inc.                12874  18.896070     0.233339
Delta Air Lines Inc.                  13070   9.137184     0.181025
Endeavor Air Inc.                      3748   2.548559     0.145144
Envoy Air                              3958   9.061142     0.195301
ExpressJet Airlines LLC d/b/a aha!      649  28.012327     0.248074
Frontier Airlines Inc.                 2197  24.266727     0.285844
Hawaiian Airlines Inc.                 1000   7.062000     0.219000
Horizon Air                             666  11.388889     0.195195
JetBlue Airways                        3729  33.050684     0.327970
Mesa Airlines Inc.                     2110  21.149763     0.211374
PSA Airlines Inc.                      3662  13.250956     0.202622
Republic Airline                       4955   4.159233     0.175177
SkyWest Airlines Inc.                 11306  11.833628     0.184592
Southwest Airlines Co.                19150  13.693890     0.266684
Spirit Air Lines                       3211  24.121457     0.275927
United Air Lines Inc.                  8506  15.584646     0.225958

In [73]:
# Step 41: Flights by route (top 10)
print(df["Route"].value_counts().head(10))

Route
LAX-SFO    206
SFO-LAX    188
DCA-BOS    159
LAX-LAS    156
JFK-LAX    156
OGG-HNL    152
ORD-LGA    149
LAS-LAX    148
LAX-JFK    147
LGA-ORD    145
Name: count, dtype: int64

In [74]:
# Step 42: Top 5 longest flights
print(df.nlargest(5, "DISTANCE")[["ORIGIN","DEST","DISTANCE"]])

      ORIGIN DEST  DISTANCE
11857    GUM  SFO    5812.0
29405    HNL  BOS    5095.0
38169    HNL  BOS    5095.0
56484    HNL  BOS    5095.0
71369    BOS  HNL    5095.0

In [75]:
# Step 43: Top 5 shortest flights
print(df.nsmallest(5, "DISTANCE")[["ORIGIN","DEST","DISTANCE"]])

      ORIGIN DEST  DISTANCE
40928    EGE  ASE      29.0
48209    HHH  SAV      30.0
17628    WRG  PSG      31.0
21308    PSG  WRG      31.0
28857    PSG  WRG      31.0

In [76]:
# Step 44: Check if ARR_TIME < DEP_TIME
df["DEP_TIME"] = pd.to_numeric(df["DEP_TIME"], errors="coerce")
df["ARR_TIME"] = pd.to_numeric(df["ARR_TIME"], errors="coerce")
invalid = df[df["ARR_TIME"] < df["DEP_TIME"]]
print("Flights with invalid times:", len(invalid))

Flights with invalid times: 4079

In [77]:
# Step 45: Save optimized dataset to pickle
df.to_pickle("flights_week1.pkl")
print("Saved dataset as pickle")

Saved dataset as pickle

In [78]:
# Step 46: Save optimized dataset to CSV
df.to_csv("flights_week1.csv", index=False)
print("Saved dataset as CSV")

Saved dataset as CSV

In [79]:
# Step 47: Function for missing value report
def missing_report(data):
    return data.isnull().sum()[data.isnull().sum() > 0].sort_values(ascending=False)

print(missing_report(df))

CANCELLATION_CODE          97373
DELAY_DUE_WEATHER          82008
DELAY_DUE_LATE_AIRCRAFT    82008
DELAY_DUE_NAS              82008
DELAY_DUE_CARRIER          82008
DELAY_DUE_SECURITY         82008
ARR_DELAY                   2852
AIR_TIME                    2852
ELAPSED_TIME                2852
TAXI_IN                     2655
ARR_TIME                    2655
WHEELS_ON                   2655
WHEELS_OFF                  2618
TAXI_OUT                    2618
DEP_DELAY                   2577
DEP_TIME                    2576
dtype: int64