# Week 2: Preprocessing and Feature Engineering

• Handle nulls in delay and cancellation columns
• Create derived features: Month, Day of Week, Hour, Route
• Format datetime columns
• Save preprocessed data for fast reuse

In [178]:
import pandas as pd
from datetime import time
df=pd.read_csv("Flight_delay.csv")
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [179]:
df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [180]:
df.duplicated().sum()

np.int64(2)

In [181]:
duplicate_rows = df[df.duplicated()]
print("\nDuplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
        DayOfWeek        Date  DepTime  ArrTime  CRSArrTime UniqueCarrier  \
145746          4  28-02-2019     1854     1946        1902            F9
145748          4  28-02-2019     2027     2314        2229            F9

                       Airline  FlightNum TailNum  ActualElapsedTime  ...  \
145746  Frontier Airlines Inc.        773  N201FR                112  ...
145748  Frontier Airlines Inc.        780  N201FR                107  ...

        TaxiIn  TaxiOut  Cancelled  CancellationCode Diverted CarrierDelay  \
145746       8       13          0                 N        0           44
145748      10       13          0                 N        0            1

       WeatherDelay NASDelay  SecurityDelay  LateAircraftDelay
145746            0        0              0                  0
145748            0       44              0                  0

[2 rows x 29 columns]

In [182]:
df_cleaned = df.drop_duplicates()
print("\nAfter Removing Duplicates, New Shape:", df_cleaned.shape)

After Removing Duplicates, New Shape: (484549, 29)

In [183]:
df.duplicated().sum()

np.int64(2)

In [184]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
484546    False
484547    False
484548    False
484549    False
484550    False
Length: 484551, dtype: bool

In [185]:
df.duplicated().sum()

np.int64(2)

In [186]:
# Drop duplicate rows based on all columns
df = df.drop_duplicates()

# Verify
print("After dropping duplicates, shape:", df.shape)

After dropping duplicates, shape: (484549, 29)

In [187]:
df.duplicated().sum()

np.int64(0)

In [188]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Verify conversion
print(df['Date'].head())
print(df['Date'].dtype)

0   2019-03-01
1   2019-03-01
2   2019-03-01
3   2019-03-01
4   2019-03-01
Name: Date, dtype: datetime64[ns]
datetime64[ns]

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/1578851322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [189]:
#Convert Date column to datetime if not already
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/1764382064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

In [190]:
#Create Month column
df['Month'] = df['Date'].dt.month

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/391299798.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month

In [191]:
#Create DayOfWeek column (0=Monday, 6=Sunday) OR use your existing DayOfWeek
df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # optional if you want numeric

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/1624346913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # optional if you want numeric

In [192]:
#Create Route column (Origin-Destination)
df['Route'] = df['Origin'] + "-" + df['Dest']

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3620569687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Route'] = df['Origin'] + "-" + df['Dest']

In [193]:
#Check the new columns
print(df[['Date','Month','DayOfWeekNum','Route']].head())

        Date  Month  DayOfWeekNum    Route
0 2019-03-01    3.0           4.0  IND-BWI
1 2019-03-01    3.0           4.0  IND-LAS
2 2019-03-01    3.0           4.0  IND-MCO
3 2019-03-01    3.0           4.0  IND-PHX
4 2019-03-01    3.0           4.0  IND-TPA

In [194]:
# Create Day Name column
df['DayName'] = df['Date'].dt.day_name()

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2915140219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayName'] = df['Date'].dt.day_name()

In [195]:
# Check the new column
print(df[['Date', 'DayName']].head())

        Date DayName
0 2019-03-01  Friday
1 2019-03-01  Friday
2 2019-03-01  Friday
3 2019-03-01  Friday
4 2019-03-01  Friday

In [196]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,0,2,0,0,0,32,3.0,4.0,IND-BWI,Friday
1,4,2019-03-01,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,0,10,0,0,0,47,3.0,4.0,IND-LAS,Friday
2,4,2019-03-01,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,0,8,0,0,0,72,3.0,4.0,IND-MCO,Friday
3,4,2019-03-01,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,0,3,0,0,0,12,3.0,4.0,IND-PHX,Friday
4,4,2019-03-01,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,0,0,0,0,0,16,3.0,4.0,IND-TPA,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,NaT,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,0,27,0,0,0,0,NaN,NaN,DFW-MCO,NaN
484547,6,NaT,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,0,11,0,0,0,28,NaN,NaN,DFW-MCO,NaN
484548,2,NaT,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,0,0,22,5,0,20,NaN,NaN,DFW-MCO,NaN
484549,7,NaT,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,0,1,0,0,0,25,NaN,NaN,DFW-MCO,NaN
484550,1,NaT,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,0,18,0,0,0,0,NaN,NaN,DFW-MCO,NaN

In [197]:
df.head(10)

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,0,2,0,0,0,32,3.0,4.0,IND-BWI,Friday
1,4,2019-03-01,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,0,10,0,0,0,47,3.0,4.0,IND-LAS,Friday
2,4,2019-03-01,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,0,8,0,0,0,72,3.0,4.0,IND-MCO,Friday
3,4,2019-03-01,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,0,3,0,0,0,12,3.0,4.0,IND-PHX,Friday
4,4,2019-03-01,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,0,0,0,0,0,16,3.0,4.0,IND-TPA,Friday
5,4,2019-03-01,1416,1512,1435,WN,Southwest Airlines Co.,54,N643SW,56,...,0,12,0,0,0,25,3.0,4.0,ISP-BWI,Friday
6,4,2019-03-01,1657,1754,1735,WN,Southwest Airlines Co.,623,N724SW,57,...,0,7,0,0,0,12,3.0,4.0,ISP-BWI,Friday
7,4,2019-03-01,1422,1657,1610,WN,Southwest Airlines Co.,188,N215WN,155,...,0,40,0,0,0,7,3.0,4.0,ISP-FLL,Friday
8,4,2019-03-01,2107,2334,2230,WN,Southwest Airlines Co.,362,N798SW,147,...,0,5,0,0,0,59,3.0,4.0,ISP-MCO,Friday
9,4,2019-03-01,1812,1927,1815,WN,Southwest Airlines Co.,422,N779SW,135,...,0,3,0,0,0,69,3.0,4.0,ISP-MDW,Friday

In [198]:
from datetime import time
import pandas as pd

# Helper function to convert HHMM to datetime.time
def convert_to_time(val):
    try:
        val = int(val)
        hours = val // 100
        minutes = val % 100
        if hours < 24 and minutes < 60:
            return time(hour=hours, minute=minutes)
    except:
        return pd.NaT
    return pd.NaT

# Update columns in-place
df['DepTime'] = df['DepTime'].apply(convert_to_time)
df['ArrTime'] = df['ArrTime'].apply(convert_to_time)
df['CRSArrTime'] = df['CRSArrTime'].apply(convert_to_time)
df['ActualElapsedTime'] = df['ActualElapsedTime'].apply(convert_to_time)

# Verify
print(df[['DepTime', 'ArrTime', 'CRSArrTime', 'ActualElapsedTime']].head())

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2175331826.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DepTime'] = df['DepTime'].apply(convert_to_time)
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2175331826.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ArrTime'] = df['ArrTime'].apply(convert_to_time)

    DepTime   ArrTime CRSArrTime ActualElapsedTime
0  18:29:00  19:59:00   19:25:00               NaT
1  19:37:00  20:37:00   19:40:00          02:40:00
2  16:44:00  18:45:00   17:25:00          01:21:00
3  14:52:00  16:40:00   16:25:00          02:28:00
4  13:23:00  15:26:00   15:10:00          01:23:00

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2175331826.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CRSArrTime'] = df['CRSArrTime'].apply(convert_to_time)
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2175331826.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ActualElapsedTime'] = df['ActualElapsedTime'].apply(convert_to_time)

In [199]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,NaT,...,0,2,0,0,0,32,3.0,4.0,IND-BWI,Friday
1,4,2019-03-01,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,10,0,0,0,47,3.0,4.0,IND-LAS,Friday
2,4,2019-03-01,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,8,0,0,0,72,3.0,4.0,IND-MCO,Friday
3,4,2019-03-01,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,3,0,0,0,12,3.0,4.0,IND-PHX,Friday
4,4,2019-03-01,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,0,0,0,0,16,3.0,4.0,IND-TPA,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,NaT,16:09:00,19:42:00,19:15:00,AA,American Airlines Inc.,1496,N510AA,01:53:00,...,0,27,0,0,0,0,NaN,NaN,DFW-MCO,NaN
484547,6,NaT,16:16:00,19:54:00,19:15:00,AA,American Airlines Inc.,1496,N559AA,01:58:00,...,0,11,0,0,0,28,NaN,NaN,DFW-MCO,NaN
484548,2,NaT,16:17:00,20:02:00,19:15:00,AA,American Airlines Inc.,1496,N505AA,NaT,...,0,0,22,5,0,20,NaN,NaN,DFW-MCO,NaN
484549,7,NaT,16:07:00,19:41:00,19:15:00,AA,American Airlines Inc.,1496,N421AA,01:54:00,...,0,1,0,0,0,25,NaN,NaN,DFW-MCO,NaN
484550,1,NaT,16:08:00,19:33:00,19:15:00,AA,American Airlines Inc.,1496,N487AA,01:45:00,...,0,18,0,0,0,0,NaN,NaN,DFW-MCO,NaN

In [200]:
df.isnull().sum()

DayOfWeek                 0
Date                 282315
DepTime                  90
ArrTime                 464
CRSArrTime                0
UniqueCarrier             0
Airline                   0
FlightNum                 0
TailNum                   0
ActualElapsedTime    229963
CRSElapsedTime            0
AirTime                   0
ArrDelay                  0
DepDelay                  0
Origin                    0
Org_Airport            1177
Dest                      0
Dest_Airport           1479
Distance                  0
TaxiIn                    0
TaxiOut                   0
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
Month                282315
DayOfWeekNum         282315
Route                     0
DayName              282315
dtype: int64

In [201]:
df.duplicated().sum()

np.int64(0)

In [202]:

# # Fill nulls with a specific date
# df['Date'] = df['Date'].fillna(pd.to_datetime('2023-01-01'))
df['Date'] = df['Date'].fillna(method='ffill').fillna(method='bfill')

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3481796054.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Date'] = df['Date'].fillna(method='ffill').fillna(method='bfill')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3481796054.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].fillna(method='ffill').fillna(method='bfill')

In [203]:
df.isnull().sum()

DayOfWeek                 0
Date                      0
DepTime                  90
ArrTime                 464
CRSArrTime                0
UniqueCarrier             0
Airline                   0
FlightNum                 0
TailNum                   0
ActualElapsedTime    229963
CRSElapsedTime            0
AirTime                   0
ArrDelay                  0
DepDelay                  0
Origin                    0
Org_Airport            1177
Dest                      0
Dest_Airport           1479
Distance                  0
TaxiIn                    0
TaxiOut                   0
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
Month                282315
DayOfWeekNum         282315
Route                     0
DayName              282315
dtype: int64

In [204]:
df['ArrTime'] = df['ArrTime'].fillna(df['CRSArrTime'])

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3721072143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ArrTime'] = df['ArrTime'].fillna(df['CRSArrTime'])

In [205]:
df['ActualElapsedTime'].fillna(df['CRSElapsedTime'])

0               90
1         02:40:00
2         01:21:00
3         02:28:00
4         01:23:00
            ...
484546    01:53:00
484547    01:58:00
484548         160
484549    01:54:00
484550    01:45:00
Name: ActualElapsedTime, Length: 484549, dtype: object

In [206]:
df['Org_Airport'].fillna('Unknown')
df['Dest_Airport'].fillna('Unknown')

0         Baltimore-Washington International Airport
1                     McCarran International Airport
2                      Orlando International Airport
3           Phoenix Sky Harbor International Airport
4                        Tampa International Airport
                             ...
484546                 Orlando International Airport
484547                 Orlando International Airport
484548                 Orlando International Airport
484549                 Orlando International Airport
484550                 Orlando International Airport
Name: Dest_Airport, Length: 484549, dtype: object

In [207]:
df['ActualElapsedTime'].fillna(df['CRSElapsedTime'])

0               90
1         02:40:00
2         01:21:00
3         02:28:00
4         01:23:00
            ...
484546    01:53:00
484547    01:58:00
484548         160
484549    01:54:00
484550    01:45:00
Name: ActualElapsedTime, Length: 484549, dtype: object

In [215]:
# Fill missing Org_Airport and Dest_Airport using forward-fill and backward-fill
df['Org_Airport'] = df['Org_Airport'].fillna(method='ffill').fillna(method='bfill')
df['Dest_Airport'] = df['Dest_Airport'].fillna(method='ffill').fillna(method='bfill')

# Verify
print(df[['Org_Airport', 'Dest_Airport']].isna().sum())  # Should print 0
print(df[['Org_Airport', 'Dest_Airport']].head(10))

Org_Airport     0
Dest_Airport    0
dtype: int64
                          Org_Airport  \
0  Indianapolis International Airport
1  Indianapolis International Airport
2  Indianapolis International Airport
3  Indianapolis International Airport
4  Indianapolis International Airport
5       Long Island MacArthur Airport
6       Long Island MacArthur Airport
7       Long Island MacArthur Airport
8       Long Island MacArthur Airport
9       Long Island MacArthur Airport

                                      Dest_Airport
0       Baltimore-Washington International Airport
1                   McCarran International Airport
2                    Orlando International Airport
3         Phoenix Sky Harbor International Airport
4                      Tampa International Airport
5       Baltimore-Washington International Airport
6       Baltimore-Washington International Airport
7  Fort Lauderdale-Hollywood International Airport
8                    Orlando International Airport
9             Chicago Midway International Airport

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3557313202.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Org_Airport'] = df['Org_Airport'].fillna(method='ffill').fillna(method='bfill')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3557313202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Org_Airport'] = df['Org_Airport'].fillna(method='ffill').fillna(method='bfill')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3557313202.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Dest_Airport'] = df['Dest_Airport'].fillna(method='ffill').fillna(method='bfill')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3557313202.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Dest_Airport'] = df['Dest_Airport'].fillna(method='ffill').fillna(method='bfill')

In [216]:
# Ensure Date column is datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Fill null Dates first (forward/backward fill)
df['Date'] = df['Date'].fillna(method='ffill').fillna(method='bfill')

# Recompute derived columns from Date
df['Month'] = df['Date'].dt.month
df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # 0=Monday, 6=Sunday
df['DayName'] = df['Date'].dt.day_name()

# Verify
print(df[['Date', 'Month', 'DayOfWeekNum', 'DayName']].head())
print(df[['Month', 'DayOfWeekNum', 'DayName']].isna().sum())  # Should be 0

        Date  Month  DayOfWeekNum DayName
0 2019-03-01      3             4  Friday
1 2019-03-01      3             4  Friday
2 2019-03-01      3             4  Friday
3 2019-03-01      3             4  Friday
4 2019-03-01      3             4  Friday
Month           0
DayOfWeekNum    0
DayName         0
dtype: int64

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/122649733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/122649733.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Date'] = df['Date'].fillna(method='ffill').fillna(method='bfill')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/122649733.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].fillna(method='ffill').fillna(method='bfill')
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/122649733.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/122649733.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # 0=Monday, 6=Sunday
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/122649733.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayName'] = df['Date'].dt.day_name()

In [217]:
df.isnull().sum()

DayOfWeek             0
Date                  0
DepTime              90
ArrTime               0
CRSArrTime            0
UniqueCarrier         0
Airline               0
FlightNum             0
TailNum               0
ActualElapsedTime     0
CRSElapsedTime        0
AirTime               0
ArrDelay              0
DepDelay              0
Origin                0
Org_Airport           0
Dest                  0
Dest_Airport          0
Distance              0
TaxiIn                0
TaxiOut               0
Cancelled             0
CancellationCode      0
Diverted              0
CarrierDelay          0
WeatherDelay          0
NASDelay              0
SecurityDelay         0
LateAircraftDelay     0
Month                 0
DayOfWeekNum          0
Route                 0
DayName               0
dtype: int64

In [218]:
df.head(10)

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,0 days 01:30:00,...,0,2,0,0,0,32,3,4,IND-BWI,Friday
1,4,2019-03-01,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,10,0,0,0,47,3,4,IND-LAS,Friday
2,4,2019-03-01,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,8,0,0,0,72,3,4,IND-MCO,Friday
3,4,2019-03-01,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,3,0,0,0,12,3,4,IND-PHX,Friday
4,4,2019-03-01,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,0,0,0,0,16,3,4,IND-TPA,Friday
5,4,2019-03-01,14:16:00,15:12:00,14:35:00,WN,Southwest Airlines Co.,54,N643SW,00:56:00,...,0,12,0,0,0,25,3,4,ISP-BWI,Friday
6,4,2019-03-01,16:57:00,17:54:00,17:35:00,WN,Southwest Airlines Co.,623,N724SW,00:57:00,...,0,7,0,0,0,12,3,4,ISP-BWI,Friday
7,4,2019-03-01,14:22:00,16:57:00,16:10:00,WN,Southwest Airlines Co.,188,N215WN,01:55:00,...,0,40,0,0,0,7,3,4,ISP-FLL,Friday
8,4,2019-03-01,21:07:00,23:34:00,22:30:00,WN,Southwest Airlines Co.,362,N798SW,01:47:00,...,0,5,0,0,0,59,3,4,ISP-MCO,Friday
9,4,2019-03-01,18:12:00,19:27:00,18:15:00,WN,Southwest Airlines Co.,422,N779SW,01:35:00,...,0,3,0,0,0,69,3,4,ISP-MDW,Friday

In [219]:
# Fill remaining missing values with scheduled elapsed time (CRSElapsedTime in minutes)
df['ActualElapsedTime'] = df['ActualElapsedTime'].fillna(pd.to_timedelta(df['CRSElapsedTime'], unit='m'))

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/3173095148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ActualElapsedTime'] = df['ActualElapsedTime'].fillna(pd.to_timedelta(df['CRSElapsedTime'], unit='m'))

In [220]:
df.isnull().sum()

DayOfWeek             0
Date                  0
DepTime              90
ArrTime               0
CRSArrTime            0
UniqueCarrier         0
Airline               0
FlightNum             0
TailNum               0
ActualElapsedTime     0
CRSElapsedTime        0
AirTime               0
ArrDelay              0
DepDelay              0
Origin                0
Org_Airport           0
Dest                  0
Dest_Airport          0
Distance              0
TaxiIn                0
TaxiOut               0
Cancelled             0
CancellationCode      0
Diverted              0
CarrierDelay          0
WeatherDelay          0
NASDelay              0
SecurityDelay         0
LateAircraftDelay     0
Month                 0
DayOfWeekNum          0
Route                 0
DayName               0
dtype: int64

In [230]:
df.head(10)

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,0 days 01:30:00,...,0,2,0,0,0,32,3,4,IND-BWI,Friday
1,4,2019-03-01,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,10,0,0,0,47,3,4,IND-LAS,Friday
2,4,2019-03-01,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,8,0,0,0,72,3,4,IND-MCO,Friday
3,4,2019-03-01,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,3,0,0,0,12,3,4,IND-PHX,Friday
4,4,2019-03-01,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,0,0,0,0,16,3,4,IND-TPA,Friday
5,4,2019-03-01,14:16:00,15:12:00,14:35:00,WN,Southwest Airlines Co.,54,N643SW,00:56:00,...,0,12,0,0,0,25,3,4,ISP-BWI,Friday
6,4,2019-03-01,16:57:00,17:54:00,17:35:00,WN,Southwest Airlines Co.,623,N724SW,00:57:00,...,0,7,0,0,0,12,3,4,ISP-BWI,Friday
7,4,2019-03-01,14:22:00,16:57:00,16:10:00,WN,Southwest Airlines Co.,188,N215WN,01:55:00,...,0,40,0,0,0,7,3,4,ISP-FLL,Friday
8,4,2019-03-01,21:07:00,23:34:00,22:30:00,WN,Southwest Airlines Co.,362,N798SW,01:47:00,...,0,5,0,0,0,59,3,4,ISP-MCO,Friday
9,4,2019-03-01,18:12:00,19:27:00,18:15:00,WN,Southwest Airlines Co.,422,N779SW,01:35:00,...,0,3,0,0,0,69,3,4,ISP-MDW,Friday

In [234]:
# Example: Fill numeric column with 90
df['DepDelay'] = df['DepDelay'].fillna(90)

# Example: Fill time column with '00:00:00'
df['DepTime'] = df['DepTime'].fillna('00:00:00')

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2298958891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DepDelay'] = df['DepDelay'].fillna(90)
/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_3737/2298958891.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DepTime'] = df['DepTime'].fillna('00:00:00')

In [238]:
df.isnull().sum()

DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
Month                0
DayOfWeekNum         0
Route                0
DayName              0
dtype: int64

In [236]:
df.head(10)

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,0 days 01:30:00,...,0,2,0,0,0,32,3,4,IND-BWI,Friday
1,4,2019-03-01,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,10,0,0,0,47,3,4,IND-LAS,Friday
2,4,2019-03-01,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,8,0,0,0,72,3,4,IND-MCO,Friday
3,4,2019-03-01,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,3,0,0,0,12,3,4,IND-PHX,Friday
4,4,2019-03-01,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,0,0,0,0,16,3,4,IND-TPA,Friday
5,4,2019-03-01,14:16:00,15:12:00,14:35:00,WN,Southwest Airlines Co.,54,N643SW,00:56:00,...,0,12,0,0,0,25,3,4,ISP-BWI,Friday
6,4,2019-03-01,16:57:00,17:54:00,17:35:00,WN,Southwest Airlines Co.,623,N724SW,00:57:00,...,0,7,0,0,0,12,3,4,ISP-BWI,Friday
7,4,2019-03-01,14:22:00,16:57:00,16:10:00,WN,Southwest Airlines Co.,188,N215WN,01:55:00,...,0,40,0,0,0,7,3,4,ISP-FLL,Friday
8,4,2019-03-01,21:07:00,23:34:00,22:30:00,WN,Southwest Airlines Co.,362,N798SW,01:47:00,...,0,5,0,0,0,59,3,4,ISP-MCO,Friday
9,4,2019-03-01,18:12:00,19:27:00,18:15:00,WN,Southwest Airlines Co.,422,N779SW,01:35:00,...,0,3,0,0,0,69,3,4,ISP-MDW,Friday

In [237]:
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,DayOfWeekNum,Route,DayName
0,4,2019-03-01,18:29:00,19:59:00,19:25:00,WN,Southwest Airlines Co.,3920,N464WN,0 days 01:30:00,...,0,2,0,0,0,32,3,4,IND-BWI,Friday
1,4,2019-03-01,19:37:00,20:37:00,19:40:00,WN,Southwest Airlines Co.,509,N763SW,02:40:00,...,0,10,0,0,0,47,3,4,IND-LAS,Friday
2,4,2019-03-01,16:44:00,18:45:00,17:25:00,WN,Southwest Airlines Co.,1333,N334SW,01:21:00,...,0,8,0,0,0,72,3,4,IND-MCO,Friday
3,4,2019-03-01,14:52:00,16:40:00,16:25:00,WN,Southwest Airlines Co.,675,N286WN,02:28:00,...,0,3,0,0,0,12,3,4,IND-PHX,Friday
4,4,2019-03-01,13:23:00,15:26:00,15:10:00,WN,Southwest Airlines Co.,4,N674AA,01:23:00,...,0,0,0,0,0,16,3,4,IND-TPA,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,2019-12-06,16:09:00,19:42:00,19:15:00,AA,American Airlines Inc.,1496,N510AA,01:53:00,...,0,27,0,0,0,0,12,4,DFW-MCO,Friday
484547,6,2019-12-06,16:16:00,19:54:00,19:15:00,AA,American Airlines Inc.,1496,N559AA,01:58:00,...,0,11,0,0,0,28,12,4,DFW-MCO,Friday
484548,2,2019-12-06,16:17:00,20:02:00,19:15:00,AA,American Airlines Inc.,1496,N505AA,0 days 02:40:00,...,0,0,22,5,0,20,12,4,DFW-MCO,Friday
484549,7,2019-12-06,16:07:00,19:41:00,19:15:00,AA,American Airlines Inc.,1496,N421AA,01:54:00,...,0,1,0,0,0,25,12,4,DFW-MCO,Friday
484550,1,2019-12-06,16:08:00,19:33:00,19:15:00,AA,American Airlines Inc.,1496,N487AA,01:45:00,...,0,18,0,0,0,0,12,4,DFW-MCO,Friday

In [239]:
long_flights = df[df['Distance'] > 1000]
print("\nFlights with Distance > 1000 miles:")
print(long_flights[['FlightNum', 'Origin', 'Dest', 'Distance']])

Flights with Distance > 1000 miles:
        FlightNum Origin Dest  Distance
1             509    IND  LAS      1591
3             675    IND  PHX      1489
7             188    ISP  FLL      1093
10           1056    ISP  PBI      1052
25            302    LAS  ALB      2237
...           ...    ...  ...       ...
484537       1494    DFW  FLL      1119
484538       1494    DFW  FLL      1119
484539       1494    DFW  FLL      1119
484540       1494    DFW  FLL      1119
484541       1494    DFW  FLL      1119

[118560 rows x 4 columns]

In [240]:
#Average arrival & departure delay by airline
avg_delays_by_airline = df.groupby('Airline')[['ArrDelay', 'DepDelay']].mean()
print("\nAverage Delays by Airline")
print(avg_delays_by_airline)

Average Delays by Airline
                               ArrDelay   DepDelay
Airline
Alaska Airlines Inc.          57.557600  55.162000
American Airlines Inc.        65.729621  60.314908
American Eagle Airlines Inc.  64.277233  57.815241
Atlantic Southeast Airlines   63.210684  61.378060
Delta Air Lines Inc.          59.292422  52.862541
Frontier Airlines Inc.        41.973150  36.502274
Hawaiian Airlines Inc.        55.658333  52.752083
JetBlue Airways               72.869370  68.284822
Skywest Airlines Inc.         65.187659  60.368212
Southwest Airlines Co.        51.032945  51.245128
US Airways Inc.               58.454165  56.025004
United Air Lines Inc.         69.670539  66.369007

In [241]:
#Top 10 longest flights (by Distance)
longest_flights = df.nlargest(10, 'Distance')[['Airline', 'FlightNum', 'Origin', 'Dest', 'Distance']]
print("\nTop 10 Longest Flight")
print(longest_flights)

Top 10 Longest Flight
                    Airline  FlightNum Origin Dest  Distance
48287  Delta Air Lines Inc.        850    HNL  ATL      4502
48433  Delta Air Lines Inc.       1273    ATL  HNL      4502
48666  Delta Air Lines Inc.        851    ATL  HNL      4502
48873  Delta Air Lines Inc.        851    ATL  HNL      4502
49258  Delta Air Lines Inc.        851    ATL  HNL      4502
49334  Delta Air Lines Inc.       1273    ATL  HNL      4502
49900  Delta Air Lines Inc.        851    ATL  HNL      4502
50124  Delta Air Lines Inc.        850    HNL  ATL      4502
50125  Delta Air Lines Inc.        851    ATL  HNL      4502
50316  Delta Air Lines Inc.       1273    ATL  HNL      4502

In [242]:
df.to_csv("2nd_week_Analysis.csv", index=False)