# Week 2: Preprocessing and Feature Engineering

• Handle nulls in delay and cancellation columns
• Create derived features: Month, Day of Week, Hour, Route
• Format datetime columns
• Save preprocessed data for fast reuse

In [2]:
import pandas as pd
df=pd.read_csv("Flight_delay.csv")
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [3]:
df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [4]:
df.duplicated().sum()

np.int64(2)

In [5]:
duplicate_rows = df[df.duplicated()]
print("\nDuplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
        DayOfWeek        Date  DepTime  ArrTime  CRSArrTime UniqueCarrier  \
145746          4  28-02-2019     1854     1946        1902            F9
145748          4  28-02-2019     2027     2314        2229            F9

                       Airline  FlightNum TailNum  ActualElapsedTime  ...  \
145746  Frontier Airlines Inc.        773  N201FR                112  ...
145748  Frontier Airlines Inc.        780  N201FR                107  ...

        TaxiIn  TaxiOut  Cancelled  CancellationCode Diverted CarrierDelay  \
145746       8       13          0                 N        0           44
145748      10       13          0                 N        0            1

       WeatherDelay NASDelay  SecurityDelay  LateAircraftDelay
145746            0        0              0                  0
145748            0       44              0                  0

[2 rows x 29 columns]

In [6]:
df_cleaned = df.drop_duplicates()
print("\nAfter Removing Duplicates, New Shape:", df_cleaned.shape)

After Removing Duplicates, New Shape: (484549, 29)

In [7]:
df.duplicated().sum()

np.int64(2)

In [8]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
484546    False
484547    False
484548    False
484549    False
484550    False
Length: 484551, dtype: bool

In [9]:
df.duplicated().sum()

np.int64(2)

In [10]:
# Drop duplicate rows based on all columns
df = df.drop_duplicates()

# Verify
print("After dropping duplicates, shape:", df.shape)

After dropping duplicates, shape: (484549, 29)

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Verify conversion
print(df['Date'].head())
print(df['Date'].dtype)

0   2019-03-01
1   2019-03-01
2   2019-03-01
3   2019-03-01
4   2019-03-01
Name: Date, dtype: datetime64[ns]
datetime64[ns]

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/1578851322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [13]:
#Convert Date column to datetime if not already
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/1764382064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

In [14]:
#Create Month column
df['Month'] = df['Date'].dt.month

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/391299798.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month

In [15]:
#Create DayOfWeek column (0=Monday, 6=Sunday) OR use your existing DayOfWeek
df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # optional if you want numeric

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/1624346913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayOfWeekNum'] = df['Date'].dt.dayofweek  # optional if you want numeric

In [16]:
#Extract Hour from DepTime (assuming DepTime is in HHMM format)
# First, fill missing DepTime with 0 if needed
df['DepTime'] = df['DepTime'].fillna(0)

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/1072883741.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DepTime'] = df['DepTime'].fillna(0)

In [17]:
# Convert DepTime to string and pad with zeros
df['DepTime'] = df['DepTime'].astype(int).astype(str).str.zfill(4)

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/3453672463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DepTime'] = df['DepTime'].astype(int).astype(str).str.zfill(4)

In [18]:
# Extract hour
df['DepHour'] = df['DepTime'].str[:2].astype(int)

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/193688746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DepHour'] = df['DepTime'].str[:2].astype(int)

In [19]:
#Create Route column (Origin-Destination)
df['Route'] = df['Origin'] + "-" + df['Dest']

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/3620569687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Route'] = df['Origin'] + "-" + df['Dest']

In [20]:
#Check the new columns
print(df[['Date','Month','DayOfWeekNum','DepTime','DepHour','Route']].head())

        Date  Month  DayOfWeekNum DepTime  DepHour    Route
0 2019-03-01    3.0           4.0    1829       18  IND-BWI
1 2019-03-01    3.0           4.0    1937       19  IND-LAS
2 2019-03-01    3.0           4.0    1644       16  IND-MCO
3 2019-03-01    3.0           4.0    1452       14  IND-PHX
4 2019-03-01    3.0           4.0    1323       13  IND-TPA

In [21]:
# Create Day Name column
df['DayName'] = df['Date'].dt.day_name()

/var/folders/zn/6mrjmx615t1727pg7bjz8sz00000gn/T/ipykernel_1770/2915140219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayName'] = df['Date'].dt.day_name()

In [22]:
# Check the new column
print(df[['Date', 'DayName']].head())

        Date DayName
0 2019-03-01  Friday
1 2019-03-01  Friday
2 2019-03-01  Friday
3 2019-03-01  Friday
4 2019-03-01  Friday

In [23]:
df.to_csv("2nd_flights_preprocessed_and_Feature.csv", index=False)

In [ ]:
prin