# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [8]:
#1
del(set)
result=set(range(1,11))
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#2
result.add(11)
print(result)
result.remove(1)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
#3
set1={1,2,3,4,5}
set2={2,4,6,8,0}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{1, 3, 5}
{0, 1, 3, 5, 6, 8}

In [ ]:
#4
squares={x**2 for x in range(1,11)}   
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
#5
result={1,2,3,4,5,6,7,8}
evens={x for x in result if x%2==0}
print(evens)

{8, 2, 4, 6}

In [ ]:
#6
duplicates={1,1,2,2,4,5,6,6,7,8,8}
set(duplicates)
print(duplicates)

{1, 2, 4, 5, 6, 7, 8}

In [ ]:
#7
set11={1,2,3,4,5,6,7}
set22={1,2,3}
print(set11.issuperset(set22))
print(set22.issubset(set11))

True
True

In [ ]:
#8
frozenset={1,2,3,4,5}
print(frozenset)

{1, 2, 3, 4, 5}

In [ ]:
#9
setty={1,2,3,35,67}
listty=list(setty)
listty.append(11)
s=set(listty)
print(s)

{1, 2, 67, 3, 35, 11}

In [ ]:
#10
d={
    frozenset({1,2}):3,
    frozenset({6,2}):8,
    frozenset({1,8}):9
}
print(d)

TypeError: 'set' object is not callable

In [ ]:
#12
newset={1,2,3,5,7,8,9}
while newset:
    newset.pop()
    print(newset)

{2, 3, 5, 7, 8, 9}
{3, 5, 7, 8, 9}
{5, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

In [ ]:
#13
seet1={1,23,4,5}
seet2={7,8,9,6}
seet1.symmetric_difference_update(seet2)
print(seet1)

{1, 4, 5, 6, 7, 8, 9, 23}

In [ ]:
#14
set={2,3,4,5,6}
print(3 in set)
print(6 in set)

True
True

In [ ]:
#15
set={(1,2,3),(5,6,7),(3,54,8)}
print(set)

{(5, 6, 7), (1, 2, 3), (3, 54, 8)}